@font-face {
    font-family: "Quicksand";
    src: url("/static/fonts/Quicksand-Bold.ttf");
}

* * {
    margin: 0;
    padding: 0;

    font-family: "Quicksand";
    color: white;
    text-transform: uppercase;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

html,
body {
    overflow: hidden;
}

body > div {
    position: absolute;
    z-index: 10;

    width: 100%;
    height: 100%;
}

#canvas {
    position: absolute;

    pointer-events: all;
}

#score {
    display: none;
    position: absolute;
    top: min(8%, 4rem);
    left: 50%;

    font-size: min(4.2vh, 2.1rem);

    opacity: 0;

    transform: translateX(-50%);
}
    
#start-menu > img {
    position: absolute;
    top: min(8%, 4rem);
    left: 50%;

    object-fit: contain;

    width: min(72%, 21.6rem);
    height: min(18%, 9rem);

    transform: translateX(-50%);
}

#start-menu > div {
    display: flex;
    position: absolute;
    bottom: min(16%, 8rem);
    left: 50%;

    flex-direction: column;
    gap: min(1.2vh, 0.6rem);

    text-align: center;

    transform: translateX(-50%);
}

#start-menu > div > p {
    font-size: min(1.6vh, 0.8rem);
}

#name {
    width: min(44vw, 13.2rem);
    height: min(4.8vh, 2.4rem);

    background-color: transparent;

    font-size: min(2.4vh, 1.2rem);
    text-align: center;
    
    border-color: white;
    border-radius: 9999px;
    border-style: solid;
    border-width: 0.24rem;

    caret-color: white;
    pointer-events: all;
}

#name:focus {
    outline-style: none;
}

#name::placeholder {
    color: white;
}

#start-menu > p {
    position: absolute;
    bottom: min(8%, 4rem);
    left: 50%;

    width: min(80%, 24rem);

    font-size: min(1.8vh, 0.9rem);
    text-align: center;

    transform: translateX(-50%);
}

#end-menu {
    display: none;

    opacity: 0;
}

#leaderboard {
    overflow: scroll;
    position: absolute;
    top: min(8%, 4rem);
    left: 50%;

    width: min(72%, 21.6rem);
    height: min(54%, 27rem);

    text-align: center;

    border-color: white;
    border-radius: min(3.2vh, 1.6rem);
    border-style: solid;
    border-width: 0.24rem;

    touch-action: manipulation;
    pointer-events: all;

    transform: translateX(-50%);
}

#leaderboard::-webkit-scrollbar{
    display: none;
}

#leaderboard > div {
    position: relative;

    width: 100%;
    height: min(6vh, 3rem);

    border-width: 0.18rem;
    border-style: none none solid none;
}

#leaderboard > div:last-child {
    border-style: none;
}

#leaderboard > div > p {
    position: absolute;
    top: 50%;

    font-size: min(2.4vh, 1.2rem);
    
    transform: translateY(-50%);
}

#leaderboard > div > p:nth-child(1) {
    left: 2%;
}

#leaderboard > div > p:nth-child(2) {
    right: 2%;
}

#end-menu > div:nth-child(2) {
    display: flex;
    position: absolute;
    bottom: min(20%, 10rem);
    left: 50%;

    flex-direction: column;

    height: min(14%, 7rem);

    text-align: center;
    white-space: nowrap;

    transform: translateX(-50%);
}

#end-menu > div:nth-child(2) > p:nth-child(1) {
    position: absolute;
    top: 0;
    left: 50%;

    font-size: min(2.4vh, 1.2rem);

    transform: translateX(-50%);
}

#final-score {
    position: absolute;
    top: min(3vh, 1.5rem);
    left: 50%;

    font-size: min(6vh, 3rem);

    transform: translateX(-50%);
}

#high-score {
    position: absolute;
    bottom: 0;
    left: 50%;

    height: 0;

    background-color: red;

    font-size: min(2.4vh, 1.2rem);

    transform: translateX(-50%);
}

#reset {
    position: absolute;
    bottom: min(10%, 3rem);
    left: 50%;

    width: min(36%, 10.8rem);
    height: min(7.2%, 3.6rem);

    font-family: "Quicksand";
    font-size: min(2.1vh, 1.05rem);
    text-transform: uppercase;

    background-color: transparent;

    border-color: white;
    border-radius: 9999px;
    border-style: solid;
    border-width: 0.24rem;

    pointer-events: all;

    transform: translateX(-50%);
}

#repository-link {
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: min(1.6vh, 0.8rem);
    text-align: center;
    text-decoration-line: none;

    pointer-events: all;
}
